.book-meeting-container {
    padding-top: 126px;
    font-family: "Montserrat", sans-serif;
    color: #041549;
    margin: 0px 30px;
  }

.booking-text {
    margin-top: 26px;
    font-size: 1.2rem;
}
