.main-content-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: 125px;
  justify-content: center;
}

.left-side-container {
  position: sticky;
  top: 125px;
}

.therapist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
  margin: 0 50px;
}
