.therapist-card-container {
  width: 755px;
  background: #f3f4f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 446px;
  margin-top: 126px;
  margin-bottom: 10px;
  margin-right: 70px;
}

.therapist-information-container {
  display: flex;
  justify-content: space-around;
}

.therapist-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: #041549;
  text-align: center;
  background: #35D0BA;
}

.therapist-information {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.therapist-name {
  font-size: 35px;
  margin-bottom: 0px;
}

.occupation {
  font-size: 20px;
}

.appointment-types {
  display: flex;
  align-items: center;
}

h3 {
  padding-right: 10px;
}
